*{margin: 0;padding: 0;box-sizing:border-box;}
body {font-size: 0.34rem;background: #efefef;}
header{height: 0.9rem;background:#fff;display: flex;padding:0 0.3rem;}
.search{flex:1;font-size:0.32rem;}
header > div {display:flex;justify-content:space-around;align-items: center;}
.sys img {width:70%;height: auto;}
.message img{width:70%;height: auto;}

.add1{background: #fff;margin-top: 0.4rem;line-height: 0.5rem;
border-radius:0 .4rem;}
.add{padding-top: 0.2rem;}
.add > div{display: flex;flex-wrap: wrap;
justify-content: space-between;padding: 0.1rem 0.3rem;}
.ad{display: flex;align-items: center;padding:0.1rem 0.3rem 0.2rem 0.3rem;
 /*#eaeaea #dfdfdf*/}
.checkbox-box{width:22px;height:22px;border:1px solid #838383 ;border-radius:50%;
position: relative;}
.checkbox-box input{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);
opacity: 0;z-index: 2;}
.checkbox-box span{background:url(images/shopcar/icon-v.png) no-repeat center;background-size: 80%;
width: 20px;height: 20px;border-radius: 50%;position: absolute;left: 0;top: 0;
transition: all 0.5s;}
.checkbox-box input[type="checkbox"] + span {opacity: 0;}
.checkbox-box input[type="checkbox"]:checked + span {opacity: 1;background-color:#838383;}
.ad p{padding-left: 0.1rem;}

.btns{height:0.9rem;display: flex;justify-content: center;
align-items: center;}
.btns button{width:6rem;height:0.9rem;background:#dadada;
border-radius: 3rem;border: none;margin-top: 0.4rem;font-size: 0.3rem;}
