*{margin: 0;padding 0}
body{font-size:0.24rem;background: #efefef;}
header{height:1.12rem;background:#fe8f98;}
header {display: flex;justify-content: center;align-items: center;}
.bg{font-size: 0.3rem;color:#525252;margin-top: 0.08rem;}
.bg1{width:0.2rem;height: 0.1rem;border-radius:0.05rem;background:#525252;margin-left: 0.18rem}
.message {flex: 4 4 34%;margin-left: 0.35rem}
.bg{flex: 10 0 12%;}
.p{flex: 5 5 50%;font-size: 0.3rem;color:#525252;padding-bottom: 0.02rem;}
.message img{width:10%;}

main{display:flex;}
aside{flex: 22;background: #efefef;}
aside a{display:block;text-decoration: none;line-height:1rem;color:#3F3F3F;
text-align: center;}
aside .nv{color:#fe8f98;background:#fff;}
.nv > div{width: 0.1rem;height:1.06rem;background:#525252;white-space:nowrap;
border-radius:0.5rem;}
.nv > div p{text-align: center;padding-left: 0.6rem;}
section{flex:78;background:#fff;border-top:0.15rem solid #efefef;}
section h2{font-size: 0.26rem;font-weight:normal;margin-top:0.3rem;
margin-left:0.3rem;margin-bottom:2px solid #efefef;}
.list_content > div{display: flex;justify-content:center;align-items:center;
width:33.3%;margin-top:0.3rem;}
.list_content{display: flex;flex-wrap: wrap;}
.list_content > div div{padding:0.1rem 0.4rem;width: 45%;}
.list_content > div div img{width: 100%;height: auto;}
.list_content > div div p{text-align: center;}
footer {background:#fff;z-index: 3;border-top: 0.01rem solid #dadada;position: fixed;
left: 0;bottom: 0;display: flex;width: 100%;justify-content: space-around;
align-items: center;}
footer a{text-decoration: none;padding: 0.1rem 0;text-align: center;}
footer a > p{color: #525252;text-align:center;font-size: 0.22rem;white-space: nowrap;}
footer a img{width: 80%;height: auto;}
.a2{width:6%;height: auto;font-size: 0.22rem;color:#fe8f98;}
.a3{width: 6%;height: auto;font-size: 0.22rem;}