* { margin: 0; padding: 0;box-sizing:border-box;}
body {font-size: 0.32rem;background:#efefef;}
header {height: 0.9rem;background:#fff;display: flex;justify-content: space-between;
align-items: center;padding:0 0.3rem;}
header > div {display:flex;justify-content:center;align-items: center;}
.search,.sys{font-size:0.34rem;}
.message img {width:80%;height:auto;}
/*.address p{font-size:0.3rem;}
.address > span{font-size:0.3rem;display: flex;justify-content:space-between;
align-items: center;padding-top:0.2rem;}
.address > span img{width:2.5%;height: auto;}
.address > span >div img{width:7%;height: auto;}*/

.address3{background: #fff;margin-top: 0.2rem;line-height: 0.5rem;}
.address{background: #fff;margin-top: 0.1rem;
border-radius:0 .4rem;display: flex;justify-content: space-between;
align-items:center;padding: 0 0.3rem 0.2rem 0.3rem}
.address1{line-height: 0.5rem;display: flex;justify-content: space-between;
align-items:center;padding:0.2rem 0.3rem;}
 /*#eaeaea #dfdfdf*/}
.address4 img{width:60%;height: auto;}
.address-left{font-size: 0.3rem;padding-right:1.5rem;}
.address-right img{width:65%;height: auto;}



.time{margin:0.3rem;font-size:0.28rem;}
.body_bg{background:#fff;}
.body_bg>div{display:flex;flex-wrap: wrap;
padding: 0.2rem 0.3rem;}
.tu{flex: 30;}
.tu img{width:100%;height: auto;}
.content{flex: 70;display:flex;justify-content: center;align-items:center;}
.content_left{flex:60;padding-left: 0.3rem;line-height: 0.5rem;}
.content_left h3{font-size: 0.3rem;}
.content_left p{font-size: 0.26rem;color:#999999;}
.content_left span{font-size: 0.26rem;color:#fe8f98}
.content_right{flex:10;padding-top:1.2rem;}

section > div{border-top:0.1rem solid #efefef;background: #fff;}
.active_1{display: flex;justify-content:space-between;align-items:center;
padding:0.25rem 0.3rem;}
.active_1 p{background:url(../images/detail/login1.png) no-repeat 0.06rem center;color:#525252;
font-size:0.28rem;font-weight:normal;background-size:18%;text-align: center;padding-left:0.6rem;}
.active_1 span{font-size:0.26rem;margin-left:2rem;color:#999999;}
.active_1 img{width:2.3%;height:2%;}
.active_2 p{background:url(../images/detail/login2.png) no-repeat 0.06rem center;
background-size:16%;}
.active_3 p{background:url(../images/detail/login2.png) no-repeat 0.06rem center;
background-size:18%;}

.active_4 p{background:url(../images/detail/login2.png) no-repeat 0.06rem center;
background-size:18%;}
.active_4 input{margin-right: 1.2rem;border:none;font-size:0.26rem;}

.price{background:none;font-size:0.28rem;padding:0.2rem 0.3rem;padding-left:3.4rem;}

footer{display: flex;flex-wrap:wrap;background:#fff;justify-content: space-between;
align-items: center;padding:0.2rem 0.3rem}
footer >div{font-size:0.28rem;}
footer button{width:1.8rem;height:0.6rem;background:#fe8f98;border-radius:0.9rem;border: none;
color:#fff;font-size:0.28rem;}
