*{margin: 0;padding: 0;}
body{font-size:0.32rem ;}
header{display: flex;height:0.9rem;background:#fe8f98;padding:0.2rem 0.3rem;}
header > div{display: flex; justify-content: center; align-items:center;}
.denglv{flex: 1;text-align:center; color:#fff;font-size: 0.36rem;}
.jiantou img{width:0.24rem;height:0.32rem;}
.zhuce{color: #fff;}
.zhuce a{text-decoration: none;color: #fff;font-size:0.36rem;padding-right: 0.2rem;}

main{display: flex;flex-wrap: wrap; border-top: 0.01rem solid #ddd;}
main > div{width: 100%;height: auto;padding-left:0.8rem;}
.f1{background:url(../images/sign/对.png) no-repeat left center;
width: 0.3rem;height: 0.3rem;position: absolute;top:0.5rem;right:0.8rem;
 background-size: 0.3rem;padding-top: 0.15rem;}
.f2{background:url(../images/sign/错.png) no-repeat left center;
width: 0.3rem;height: 0.3rem;position: absolute;top:0.5rem;right:0.8rem;
 background-size: 0.3rem;padding-top: 0.15rem;}
.nav{padding:0.2rem 0.3rem;position: relative;display: flex;}
.nav img{padding-right:0.2rem;}
.nav p{background:url(../images/login/登录_07.png) no-repeat left center;
width: 0.3rem;height: 0.3rem;position:absolute;top: 0.5rem;left: 0.6rem;
 background-size: 0.3rem;padding-top: 0.15rem;}
.nav input{box-sizing: border-box;padding-left: 0.7rem;flex:1;width:6.6rem;
height:1rem;color:#525252;background:#fff; font-size: 0.24rem;border-radius:1rem;
border:0.01rem solid #efefef;font-weight:normal;}
button{width:6.9rem;height: 0.98rem;background:#fe8f98;border-radius:1rem;margin-top: 0.4rem;
text-align: center;margin-left: 0.3rem;font-size:0.34rem;color: #fff;border-style: none;}
.nav1{padding:0.2rem 0.3rem;position: relative;display: flex;}
.nav1 img{padding-right:0.2rem;}
.nav1 p{width: 0.3rem;height: 0.3rem;background:url(../images/login/登录_11.png) no-repeat left center;
position:absolute;top: 0.5rem;left: 0.6rem; background-size: 0.3rem;padding-top: 0.15rem;}
.nav1 input{padding-left: 0.7rem;box-sizing: border-box;flex: 1;
width:6.6rem;height:1rem;color:#525252;background:#fff;font-weight:normal;
border:0.01rem solid #efefef;border-radius:1rem;font-size: 0.24rem;}
.nav2{padding:0.2rem 0.3rem;display: flex;}
.nav2 input{padding-left: 0.7rem;box-sizing: border-box;width:6.9rem;height:1rem;
color:#525252;background:#fff;font-weight:normal;border:0.01rem solid #efefef;
border-radius:1rem;font-size: 0.24rem;position:relative;}
.checkbox-box{width:20px;height:20px;border:1px solid #fe8f98 ;border-radius:50%;
position: relative;}
.checkbox-box input {
position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);opacity: 0;
z-index: 2;}
.checkbox-box span{background:url(images/sign/icon-v.png) no-repeat center;background-size: 80%;
width: 20px;height: 20px;border-radius: 50%;position: absolute;left: 0;top: 0;
transition: all 0.5s;}
.checkbox-box input[type="checkbox"] + span {opacity: 0;}
.checkbox-box input[type="checkbox"]:checked + span {opacity: 1;background-color:#fe8f98;}
.nav2 button{background:#fe8f98;color:#fff;width:2rem;height:0.8rem;text-align: center;
font-size:0.28rem;position:absolute; top:5.4rem;right:0.33rem;}
.zhu{height: 0.9rem;display: flex;align-items: center;font-size:0.22rem;
color: #525252;}
footer{display: flex;justify-content: space-around;align-items: center;padding-top:0.8rem;}
footer > div > div{display: flex;justify-content: center;align-items: center;height:0.8rem;}
footer > div img{width:0.96rem;height:0.96rem;}
footer p{font-size: 0.26rem;padding-top: 0.2rem;}
.btn {margin-top: 0.16rem;text-align: center;}
.btn input {width: 90%;height: 0.96rem;color: #fff;border-radius:50px;
background:#fe8f98;border: none;font-size:0.26rem;}